<div class="box">
  <h2>Welcome, {{ userName }}</h2>
  <h5 *ngIf="JIRAsItems.length === 0">You don't have a JIRA Item yet, Please create a new one.</h5>
  <mat-list *ngIf="JIRAsItems.length" class="list">
    <div mat-subheader>JIRA Item List</div>
    <mat-list-item *ngFor="let item of JIRAsItems; let i = index">
      <div mat-line>operation date: {{ item.operationDate }}</div>
      <div mat-line>JIRA Item ID: {{ item.JIRAItemID }}</div>
      <div mat-line>Reviewer: {{ item.Reviewer }}</div>
      <button mat-icon-button>
        <mat-icon (click)="delete(i)">delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary" (click)="openDialog()">Create a new JIRA item</button>
</div>
